<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/base.css') }}">
    <link rel="stylesheet" href="../static/styles/base.css">
    <title>Construct</title>
</head>
<body>
        <nav class="nav-bar">
            <div class="nav-content">
                <a href="#" class="logo">
                    <img src="./logo2.png" alt="">
                </a>
                <div class="nav-link">
                    <li><a href="#">Show-Data</a></li>
                    <li><a href="#">Calculations</a></li>
                </div>
            </div>
        </nav>
</body>
</html>
