<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="front.css"> -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/front.css') }}">
    <title>Welcome!</title>
</head>
<body>
    <main class="container">
        <div class="navbar">
            <div class="icon">
                <img src="{{ url_for('static',filename='img/logo.png') }}" alt="">
            </div>
            <div class="icon-text">
                <h2>CONSTRUCT</h2>
            </div>
        </div>
        <div class="items">
            <div class="section-items">
                <h1>Automate your energy cost planning.</h1>
                <h3>Use a trained regression model to better understand how your designs affect the heating and cooling load in buildings.</h3>
                <div class="intros-button">
                    <a href="/input"><button class="calculate">Try it out!</button></a>
                </div>
            </div>
        </div>
    </main>
    <div class="color-blue">
        <div class="intro-img">
            <img src="{{ url_for('static',filename='img/BuildingGraphic.png') }}" alt="">
        </div>
    </div>
</body>
</html>
