<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/input.css') }}">
    <link rel="stylesheet" href="../static/styles/input.css">
    <title>Input</title>
</head>
<body>
    <main>
        <h1>Input Building Requirements</h1>
        <div class="container">
            <div class="form-container">
                <form action="#" method="post" class="form">
                    <div class="input">
                        <label for="relative-compactness">Relative Compactness</label>
                        <!-- <input step="any" type="number" id="relative-compactness" name="relative-compactness"> -->
                        <div class="range">
                            <div class="sliderValue">
                                <span>100</span>
                            </div>
                            <div class="field">
                                <div class="value left">
                                    60%
                                </div>
                                <input id="range" type="range" min="60" max="99" value="0" steps="1" name="relative-compactness">
                                <div class="value right">
                                    99%
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="input">
                        <label for="surface-area">Surface Area</label>
                        <input step="any" type="number" id="surface-area" name="surface-area">
                    </div>
                    <div class="input">
                        <label for="wall-area">Wall Area</label>
                        <input step="any" type="number" id="wall-area" name="wall-area">
                    </div>
                    <div class="input">
                        <label for="roof-area">Roof Area(110 - 220)</label>
                        <input step="any" type="number" id="roof-area" name="roof-area" min="110" max="220">
                    </div>
                    <div class="input">
                        <label for="overall-height">Overall Height</label>
                        <input step="any" type="number" id="overall-height" name="overall-height">
                    </div>
                    <div class="input">
                        <label for="orientation">Orientation(House Facing)</label>
                        <input step="any" type="number" id="orientation" name="orientation">
                    </div>
                    <div class="input">
                        <label for="glazing-area">Glazing Area(0.0 - 0.4)</label>
                        <input step="any" type="number" id="glazing-area" name="glazing-area" min="0" max="0.4">
                    </div>
                    <div class="input">
                        <label for="glazing-area-distribution">Glazing Area Distribution</label>
                        <input step="any" type="number" id="glazing-area-distribution" name="glazing-area-distribution">
                    </div>
                    <input class="button" type="submit" value="submit">
                </form>

            </div>
            <div class="tower">
                <img src="{{ url_for('static',filename='img/building.png') }}" alt="">
            </div>
        </div>
    </main>

    <script>
        const slideValue = document.querySelector("span");
        const inputSlider = document.querySelector("#range");
        inputSlider.oninput = (() => {
            let value = inputSlider.value;
            slideValue.textContent = value;
            // slideValue.style.left = (value) + "%";
            slideValue.classList.add("show");
        });
        inputSlider.onblur = (() => {
            slideValue.classList.remove("show");
        });
    </script>
</body>
</html>
