* {
  border: border-box;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EEEEF7;
}

.graph-container {
  width: 400px;
  height: 410px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  /* card / shadow */
  box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
}

.graph-container div {
  width: 20%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-right: 1px solid #EEEEF7;
}
li{
  list-style: none;
  color: #8794BA;
}

